@font-face {
  font-family: helvetica;
  src: url(fonts/helvetica.woff);
  font-weight: normal;
}

@font-face {
  font-family: helvetica;
  src: url(fonts/helvetica-medium.woff);
  font-weight: medium;
}

@font-face {
  font-family: helvetica;
  src: url(fonts/helvetica-bold.woff2);
  font-weight: bold;
}

body {
  background-color: #191919;
}

* {
  margin: 0px;
  font-family: helvetica;
  letter-spacing: 0.25px;
}

ul {
  padding-left: 5px;
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template: 50px 5fr / 1fr 5fr;
  height: 100vh;
}

.sidebar {
  background-color: #202020;
  grid-row: 1 / -1;
  border-right: 1px solid #333333;
}

.nav-item,
.nav-title {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  margin-right: 5px;
  font-weight: normal;
  color: #9b9b9b;
  transition: 0.1s;
}

.nav-item:hover {
  background-color: #2a2a2a;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}

.nav-title {
  color: #dcdcdc;
  font-size: 20px;
  padding-top: 10px;
  margin: 7px 0 8px 0;
}

hr {
  border: 0.5px solid #333333;
  margin-right: 5px;
  margin-bottom: 10px;
}

.nav-container {
  display: grid;
  grid-row: 1fr 1fr;
}

.nav-bottom {
  margin-top: auto;
}

svg {
  margin-right: 10px;
  scale: 80%;
  translate: 0 -1px;
}

svg.project-actions {
  margin-right: 0px;
}

.header {
  margin: 0 5px 0 5px;
  background-color: #191919;
  display: grid;
  height: 54px;
  grid-template: 1fr / repeat(3, 1fr);
  border-bottom: 1px solid #333333;
}

.button-container {
  display: flex;
}

button {
  font-size: 15px;
  margin: 10px 0 0 10px;
  height: 34px;
  background-color: #202020;
  border: 0px solid #2a2a2a;
  color: #9b9b9b;
  border-radius: 5px;
  padding: 3px 10px 0 10px;
}

button:hover {
  cursor: pointer;
  background-color: #2a2a2a;
}

.searchbar {
  grid-area: 1 / 2 / 1 / 3;
  background-color: #202020;
  height: 34px;
  width: 400px;
  border-radius: 30px;
  margin: 10px;
  color: #9b9b9b;
  transition: 0.1s;
}

.searchbar:hover {
  cursor: text;
  background-color: #333333;
  transition: 0.1s;
}

.searchbar svg {
  translate: 5px 2.5px;
}

.account {
  grid-area: 1 / 3 / 1 / 4;
  justify-self: end;
  display: grid;
  grid-template: 50px / 1fr 50px;
  justify-items: end;
  align-items: center;
  opacity: 0.5;
  transition: 0.1s;
}

.account:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.1s;
}

.username {
  font-size: 15px;
  font-weight: normal;
  color: #9b9b9b;
  letter-spacing: 0.25px;
  translate: 0px 3px;
}

.avatar {
  border-radius: 100%;
  height: 34px;
  width: 34px;
  margin: 10px;
}

.main-content {
  display: grid;
  margin-top: 5px;
  background-color: #191919;
  grid-template: 54px 1fr / repeat(3, 1fr);
}

.mc-nav {
  justify-self: center;
  height: 30px;
  background-color: #202020;
  font-size: 15px;
  color: #9b9b9b;
  grid-area: 1 / 2 / 2 / 3;
  border-radius: 5px;
  display: flex;
  margin: 10px 0 5px 0;
  transition: 0.1s;
}

.mc-nav:hover {
  cursor: pointer;
  transition: 0.1s;
}

.mc-nav-item {
  padding: 7px 10px 0 10px;
  transition: 0.1s;
}

.mc-nav-item:hover {
  background-color: #2a2a2a;
  border-radius: 5px;
  transition: 0.1s;
}

.card-area {
  grid-area: 2 / 1 / 3 / 4;
  margin: -5px 50px 10px 50px;
  display: grid;
  gap: 20px;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.card {
  border: 1px solid transparent;
  background-color: #202020;
  border-radius: 5px;
  color: #9b9b9b;
  padding: 17px 20px 10px 20px;
  box-shadow: rgba(46, 49, 51, 0) 0px 0px 10px;
  display: grid;
  grid-template: 1fr 1fr / 1;
}

.card:hover {
  border: 1px solid #333333;
  cursor: pointer;
  box-shadow: rgba(46, 49, 51, 0.5) 0px 0px 10px;
}

.card:hover .project-title,
.card:hover .card-cta {
  color: #dcdcdc;
  transition: 0.1s;
}

.project-title {
  font-size: 20px;
}

.description {
  font-size: 15px;
  margin: 5px 0 5px 0;
}

.card-cta {
  align-self: end;
  justify-self: start;
  display: flex;
}

.project-actions {
  padding: 10px;
  border-radius: 5px;
}

.project-actions:hover {
  background-color: #333333;
}

.active {
  color: #dcdcdc;
  background-color: #2a2a2a;
  border-radius: 5px;
}

.active:hover {
  background-color: #3a3a3a !important;
}
